  language: c
  env:
    # All supported python versions
    - TRAVIS_PYTHON_VERSION=2.7
    - TRAVIS_PYTHON_VERSION=3.6
  install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        MINICONDA_PYVERSION=2 ;
      else
        MINICONDA_PYVERSION=3 ;
      fi ;
      if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        MINICONDA_OS=Linux ;
      else
        MINICONDA_OS=MacOSX ;
      fi ;
      echo "Fetching Python $MINICONDA_PYVERSION miniconda for $MINICONDA_OS" ;
      wget https://repo.continuum.io/miniconda/Miniconda$MINICONDA_PYVERSION-latest-$MINICONDA_OS-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda config --set anaconda_upload no
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib pytest pytest-pep8 pytest-cov
    - source activate test-environment
    - conda install -c conda-forge vtk
    - which python
    - python -c "import vtk; print(vtk.VTK_VERSION)"
    - python setup.py install

  script:
   - pytest --cov=turbulucid --pep8 tests

  os:
    - linux
    - osx

  matrix:
    exclude:
    - os: osx
      env: TRAVIS_PYTHON_VERSION=3.6
